* {
     box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
        
header {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    font-size: 15px;
    color: white;
}
 
nav {
    float: left;
    width: 20%;
    height: 300px;
    background: rgb(255, 255, 255);
    padding: 20px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
 
nav a{
    color: rgb(5, 5, 175);
}
 article {
    float: left;
    padding: 20px;
    width: 80%;
    background-color: #f1f1f1;
    height: 300px;
}
section:after {
    content: "";
    display: table;
    clear: both;
}
footer {
    background-color: black;
    padding: 2px;
    text-align: center;
    color: white;
}
@media (max-width: 600px) {
nav,article {
    width: 100%;
    height: auto;
    }
}