 *{box-sizing:border-box}

.container {
  width: 50%; 
  background-color: rgb(172, 168, 168); 
}

.skills {
  text-align: right; 
  padding-top: 3px; 
  padding-bottom: 3px; 
  color: white; 
}

.html {width: 85%; background-color: #A52A2A;}
.css {width: 75%; background-color: #6495ED;}
.js {width: 50%; background-color: #dfbe05;}
.php {width: 60%; background-color: #000000;}