body{
    background-image:url('bckg.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bingkai{
	background: #DDD;
	width: 900px;
	margin: 20px auto;
    border : #CCC solid 1px;
}

.bingkai .header{
	background-image:url('header.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	padding: 2px 10px;
}

h1{
    color: white;
}
h2{
    color: white;
}

.bingkai .menu{
	background: #fffd72;
    width:100%;
    height:40px;
}

.bingkai .menu ul{
	padding: 0;
	margin: 0;
}

.bingkai .menu ul li{
	float: left;
	list-style: none;
	padding: 10px;
}

.clear{
	clear: both;
}

.badan{
	height: 450px;
}

.bingkai .badan .sidebar{
	background: rgb(255, 193, 252);
	float: left;
	width: 25%;
	height: 100%;
}

.bingkai .badan .content{
	background-image:url('konten.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	float: left;
	height: 100%;
	width: 75%;
	color : white;
	font-size : 18px;
	font-family:Tahoma;
}

img{
	width: 200px;
	height: 200px;
	border-radius: 80%;
}

.bingkai .footer{
	width: 98%;
	padding: 10px;
    background: black;
}

.footer{
    color : white;
    text-align : center;
}